.aa{
	height: 80px;
	width: 100%;
	background: #7B99C8;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0 2px 5px #C9C8DA;
	z-index: 100;
}
.videoPlay{
	width: 100%;
	height: 600px;
	margin-top: 85px;
	background: #D1E6E5;
}
.videoPlay .videoPlayCenter{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
.videoPlay .videoPlayCenter .video-js{
	float: left;
	box-shadow: 5px 0px 5px #D5DDF0;

}
.videoPlay .videoPlayCenter .recommendDiv{
	width: 395px;
	height: 600px;
	background: #ACB1EB;
	float: left;
	margin-left: 5px;
	box-sizing: border-box;
}
.videoPlay .videoPlayCenter .recommendDiv h2{
	margin:20px 20px 15px 20px;
}
.videoPlay .videoPlayCenter .recommendDiv .prev{
	background-color: rgba(239,234,234,0.5);
	width: 340px;
	height: 50px;
	margin: 0 auto;
}
.videoPlay .videoPlayCenter .recommendDiv .prev img{
	
}
.videoPlay .videoPlayCenter .recommendDiv .commendContent{
	margin: 30px;
	margin-top: 10px;
}
.videoPlay .videoPlayCenter .recommendDiv .commendContent li{
	width: 80%;
	height: 100px;
	background: red;
	margin-bottom: 10px;
}

/*评论*/
.commentHotPlay{
	width: 100%;
}
.commentHotPlay .commentHotPlayDiv{
	width: 1200px;
	margin: 20px auto;
}
.commentDiv{
	float: left;
	width: 800px;
	padding: 20px 20px 0 20px;
	border: 1px solid #ededed;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 5px 0px 5px #D5DDF0;
	background: rgba(222,222,222,0.1);
}
.commentArea{
	width: 100%;
	height: 184px;
}
.userSelf{
	position: relative;
	width: 90px;
}
.userImg{
	width: 48px;
	height: 48px;
	display: inline-block;
	padding: 15px;
	float: left;
}
.userSelf .self{
	color: #000;
	position: absolute;
	left: 0px;
	top: 70px;
	width: 80px;
	height: 30px;
	text-align: center;
}
.commentInput{
	width: 660px;
	height: 100px;
	font-size: 16px;
	padding: 15px;
	margin-left: 20px;
	border: 1px solid #c6c8ce;
	border-radius: 3px;
	font-family: "微软雅黑";
	box-sizing: border-box;
	box-shadow: inset 0 0 8px rgba(182,195,214,0.6);
	display: inline-block;
}
.commentInputFocus {
	border: 1px solid #C4A4D6;
	box-shadow: inset 0 0 8px rgba(0,136,170,0.5)
}
.wordNum,.cBtn{
	display: inline-block;
	float: right;
	width: 80px;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
}
.numChange{
	font-style: normal;
}
.cBtn{
	background: #A7A3CD;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
}
.userComment{
	margin-left: 30px;
	float: left;
}
.commentPer{
	border-top: 1px solid #ededed;
	overflow: hidden;
}
.commentPer .userMes{
	float: left;
	padding: 15px 0 20px 20px;
	width: 630px;
}
.commentPer .userMes .userBlock{
	height: 60px;
	margin-bottom: 10px;
}
.commentPer .userMes .userBlock .userAbout{
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.userName{
	color: #A7A3CD;
}
.commentPer .userMes .userAbout i{
	font-style: normal;
	color: #898787;
}
.commentPer .userMes .userBlock .operateDiv{
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
}
.operate{
	position: relative;
	float: right;
	width: 200px;
}
.operate a{
	display: inline-block;
}
.operateDiv span{
	display: inline-block;
	float: left;
	color: #000;
}
.operate .del{
	margin-right: 20px;
	display: none;
	position: absolute;
	left: -55px;
}
.operate .del,.operate .reply,.operate .praise{
	color: #898787;
}
.operate .del{
	background: url(../image/del.png) no-repeat 0 6px;
	padding-left: 20px;
}
.operate .praise{
	background: url(../image/icon-all_01.png) no-repeat 0px -192px;
	padding-left: 40px;	 
	width: 75px;
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	right: 0;
}
.operate .praiseCheck{
	color: #E5B7B7;
	background-position: 0px -113px;
}
.operate .reply{
	position: absolute;
	right: 120px;
}
.childComment{
	margin-top: 10px;
}
.childText{
	width: 610px;
}
.userMes .replyList{
	width: 100%;
}
.replyList .replyDiv{
	overflow: hidden;
}
.replyList .replyDiv .replyOne{
	margin-left: 20px;
	background: rgba(218,209,209,0.5);
	margin-bottom: 5px;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 5px;
}
.replyList .replyDiv .replyOne .replyPerson{
	height: 25px;
	line-height: 25px;
	float: left;
}
.replyList .replyDiv .replyOne .replyContent{
	width: 450px;
	min-height: 25px;
	line-height: 25px;
	margin-right: 5px;
	float: right;
	word-wrap: break-word;
	border: 1px solid #A0B9CF;
	padding:5px;
	box-shadow: inset 0px 0px 5px #A0B9CF;
}
.replyList .replyDiv .replyOne .replyOther{
	float: left;
	height: 30px;
	line-height: 30px;
	width: 100%;
}
.replyDiv .myReply .userName,.replyDiv .myReply .other{
	color: #A7A3CD;
}

.replyDiv .replyOther span{
	color: #000;
}
.commentInput:focus{
	border: 1px solid #C4A4D6;
	box-shadow: inset 0 0 8px rgba(0,136,170,0.5)
}

/*热门搜索*/
.hotPlayDiv{
	float: right;
	width: 395px;
	height: 600px;
	margin-left: 5px;
	border: 1px solid red;
	box-sizing: border-box;
}
.hotPlayDiv h2{
	margin: 20px 20px 15px 20px;
}
.hotPlayDiv div{
	width: 90%;
	margin: 0 auto;
}
.hotPlayDiv ul.hotSearch li{
	width: 100%;
	height: 50px;
	border: 1px solid blue;
	margin-bottom: 5px;
}